@import '@/assets/scss/variables';

.note-card {
  min-height: 200px;
  background-color: $content-background;
  border-radius: $border-radius-xl;
  border: $border-content;
  box-shadow: $outter-shadow;
  padding: $inner-padding;
  margin: 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-category {
    opacity: 0.8;
    font-size: 0.8rem;
  }

  &-title {
    display: flex;
    justify-content: space-between;
  }

  &-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &-actions {
    display: flex;
    & > * {
      margin-left: 0.6rem;
    }
  }
}

.edited-date {
  opacity: 0.5;
  font-weight: 500;
  font-size: 0.8rem;
  font-style: italic;
}
