.tools {
  margin-left: 1rem;
  margin-bottom: 0.3rem;

  select {
    border-radius: 10px;
    margin-left: 0.5rem;
    padding-left: 6px;
  }

  .text-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-left: 6px;
    filter: hue-rotate(160deg);

    &.rotated {
      transform: rotate(180deg);
    }
  }
}

.notes-list {
  height: calc(100vh - 160px);
  overflow-y: scroll;
  &.hide-scroll {
    overflow-y: hidden;
  }

  & > * {
    margin-bottom: 12px;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #ffffff00;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff60;
  }
}

.empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    color: white;
    text-shadow: black 1px 0 10px;
    margin-bottom: 1rem;
  }
}
